/*speech class*/
.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
}

/*song class*/
.song{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}

/*direction class*/
.direction{
    font-family: 'Times New Roman', Times, serif; 
    font-size: medium;color: black; 
    background-color: aquamarine;
}
.direction:hover{
    background-color: black;
    color: aliceblue;
}

/*name class*/
.name{
    font-family: monospace;
    font-size: large;
    color: black;
}
.name:hover{
    text-shadow: 2px 2px 5px coral, 2px 2px 5px salmon;
}

/*character classes*/
.nanki-poo{
    color: violet;
}

.pooh-bah{
    color: coral;
}

.pish-tush{
    color: darkseagreen;
}

/*group classes*/
.all{
    color:lightgreen
}

/*Table*/
table, th, td{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 5px solid coral;
    text-align: center;
    font-size:larger;
}

tr:nth-child(odd) {
    background-color:aquamarine;
}

tr:nth-child(even) {
    background-color:bisque;
}